<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net451" />
  <package id="Castle.Core" version="3.0.0.4001" targetFramework="net451" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net451" />
  <package id="NEsper" version="4.11.0.10917" targetFramework="net451" />
  <package id="Nito.KitchenSink.CRC" version="1.1.0" targetFramework="net451" />
</packages>